body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background: linear-gradient(to top left, #000066 0%, #660066 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.font20{
    font-size: 26px;
}

/* Side navigation */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.95);
    overflow-x: hidden;
    transition: 0.25s;
    padding-top: 10px;
    font-weight: bold;
}

a[type=icon] {
    cursor: pointer;
}

.sidenav a {
    padding: 5px 5px 5px 12px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    
    margin-left: 0px;
    cursor: pointer;
}


/* top navigation */
.topnav {
    position: relative;
    overflow: hidden;
    background-color: #333;
    cursor: pointer;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 5px; 
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}



.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

}

.topnav-right {
    float: right;
}

/* Responsive navigation menu (for mobile devices) */


@media screen and (max-width: 800px) {
    .sidenav {
        padding-top: 20px;
    }

    .sidenav a {
        font-size: 18px;
        
        font-weight: normal;
    }

    .sidenav a:hover {
       
        color: aqua;
        background: #000;
        font-weight: bold;
    }
}


#main {
    transition: margin-left .5s;
    padding: 16px;
}

iframe {
    background: #933;
    border: none;
    width: 100%;
    height: 100vh;
    display: block;
    overflow: hidden;
}

.inline{
    display: inline;
}

.block{
    display: block;
}

.tr1{
   
    border: 12px solid #000;
}

.t1{
    width: 95%;
    height: 20px;
    padding:10px;
    margin: 1px;
    margin-right: 0px;
    font-size: 25px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    
    border-radius: 5px;
}

.t2{
    /**/
    width: 100%;
    font-size: 10px;
    /*text-decoration: none;*/
    border-top: 10px;
    border-left: 10px;
    border-right: 10px;
    
}

.b1{
    width: 100%;
    height: 43px;;
    font-size: 20px;
    border-radius: 5px;
    border: 10px;
    font-size: 12;
    background: #0ca518fa;
    color: #fff;
}

.b1:hover{
    background: #00cb11;
    color: rgb(255, 255, 255);
}

.apptext {
    width: 99%;
    height: 20px;
    padding:5px;
    margin: 1px;
    margin-right: 10px;
    font-size: 25px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.apptext:hover{
    outline-width: 0;
}


.appbutton{
    width: 94%;
    height: 40px;
    padding: 0px;
    margin: 1px;
    margin-right: 10px;
    font-size: 25px;
    border: 0px;
    border-radius: 5px;
}

.appbutton:hover{
    background-color: #333;
    color:#fff;
}



table{
    width: 100%;
}

td{
    padding: 0px;
    margin: 0px;;
    border: 10px solid rgba(0,0,0,0.11);
    border-radius: 10px;
}

.hide{
    display:none;
    visibility:collapse;
}


/* --- kjkjnjk p--*/
.entry{
    color: #fff;
    border:10px solid transparent;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.281);
}

.joker{
    border-radius: 5px;
    border: 0px;
    font-size: 12;
    padding: 3px;
    background: rgba(255, 255, 255, 0.00281);
    color: #fff;
}

.joker:hover{
    background-color: #0f0;
    color: #fff;
}

.ttimer{
    background: rgba(255, 255, 255, 0.0181);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

.dtnow{
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: bold;
}
